.offer_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem ;

  p {
    padding: 0.5rem 1rem 1.5rem 0;
    line-height: 1.4;
  }
  .subcontainer {
    padding-right: 4.75rem;

    .heading{
      font-size: 1.5rem;
      font-weight: bold;
    }
    
}
  .image {
    width: 26.05rem;
    height: 20rem;
    padding-left: 3.5rem;
  }

}
.reverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 3.5563rem;

  p {
    padding: 0.5rem 1rem 1.5rem 0;
    line-height: 1.4;
  }
  .heading{
    font-size: 1.5rem;
    font-weight: bold;
  }
  .subreverse {
    padding-left: 4.75rem;
  }
  .image {
    width: 26.05rem;
    height: 20rem;
    padding-right: 4.5rem
  }
}



