.form_container {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;

  // button {
  //   width: 6rem;
  //   padding: 0.8rem;
  //   border: none;
  //   background-color: rgb(56, 130, 215);
  //   color: white;
  // }
  h2 {
    text-align: center;
  }
}
.DynamicFormfield {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1rem 0;
  width: 40%;

  label {
    color: rgb(185, 182, 182);
  }

  input {
    border: none;
    border-bottom: 1px solid black;
    background-color: white;
  }
  
  input:focus{
    // border: none;
    outline: none;
  }
}

/* .DynamicForm {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    border: none;
    background-color: #f3f3f2;
  }
  .DynamicForm:active{
    border: none;
  }
  
  .DynamicFormfield {
    margin-bottom: 10px;
  }
  
  .DynamicForminput {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
  }

  .DynamicForminput.error {
    border-color: #ff0000;
  }

  .DynamicForminput:active{
    border: none;
  }
  
  .DynamicFormerror {
    display: block;
    color: #ff0000;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .DynamicFormsubmitButton {
    padding: 10px 20px;
    background-color: #0099ff;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .DynamicFormsubmitButton:hover {
    background-color: #0077cc;
  } */
