.card_container{
    width: 35rem;
    background-color: rgb(166, 163, 163);
    padding: 2rem;

    h2{
        padding: 1rem 0;
    }

    li{
        list-style: none;
        padding: 0.5rem 0;
    }
}