@import "../../../styles/variable.scss";
.about_container{
    background-color: $lightgray;
    padding-bottom: 3rem;
    
    p{
        line-height: 1.5;
        font-family: BoschSans-light;
    }
    .carddata {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9.375rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 0.625rem;
  padding-top: 2rem ;
}

@media (max-width: 768px) {
  .carddata {
    grid-template-columns: repeat(2, minmax(9.375rem, 1fr));
  }
}

@media (max-width: 480px) {
  .carddata {
    grid-template-columns: minmax(9.375rem, 1fr);
  }
}

}