@import "../../../styles/variable.scss";
.aboutdata {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
   
  .subcontainer{
    padding-left: 3rem;
  }
  .paragraph{
    padding: 0 5.75rem 0 0;
    font-family: BoschSans-light;
    font-size: 1.25rem;
  }
  .image {
    height: 17rem;
  }
  .heading {
    padding-bottom: 1.1rem;
    font-size: 3rem;
    font-family: BoschSans-bold;
  }
}
