@import "../../../styles/variable.scss";
.aboutcard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $buttoncolor;
    padding: 4rem 1rem;
    color: $white-color;

    .button{
        border: 1px solid $buttoncolor;
        background-color: $white-color;
        color: $buttoncolor;
        padding: 1.3125rem 3.625rem 1.375rem;
    }
    .paragraph{
     padding-top: 0.5rem;
    }
    .heading{
        font-weight: 300;
    }
}