@import "../../../styles/variable.scss";
.aboutcard{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $buttoncolor;
    padding: 4rem 3rem;
    color: $white-color;
    .subcard{
        padding-right: 2rem;
    }
    .button{
        border: 1px solid $buttoncolor;
        background-color: $white-color;
        color: $buttoncolor;
        padding: 1rem 1.625rem;
        width: 9rem;
    }
    .paragraph{
        padding-top: 0.5rem;
    }
    .heading{
        font-weight: 300;
    }
}
@media (minwidth:1146px) {
    .button{
        width: 12rem;
    }
}